// Importation des variables et mixins
@import 'variables';
@import 'mixins';

// Réinitialisation des marges, paddings et bordures pour les éléments HTML de base
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  
// Réinitialisation des éléments de bloc HTML5 pour une compatibilité avec les navigateurs plus anciens
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
// Réinitialisation de la ligne de base pour le corps du texte
  body {
    line-height: 1;
  }
  
// Réinitialisation des styles de liste pour les listes non ordonnées et ordonnées
  ol, ul {
    list-style: none;
  }
  
// Réinitialisation des styles de citation pour les citations et les blocs de citation
  blockquote, q {
    quotes: none;
    &:before, &:after {
      content: '';
      content: none;
    }
  }
  
// Réinitialisation des styles pour les liens hypertextes
a {
  @include link-style;
}
  
// Définir les styles de base
html, body {
  @include base-html-body;
}

h1, h2 {
  @include text-style($font-size-large, $font-weight-bold);
}

h3 {
  @include text-style($font-size-medium, $font-weight-bold);
}

p {
  @include text-style($font-size-default, $font-weight-normal);
}

// Styles de la section "header accueil"
.logo {
  display: flex;
  justify-content: center;
  background-color: $color-white;
  box-shadow: 0px 2px 4px $color-gray-border;

  a {
    margin: 23px 0 15px;
  }

  img {
    width: $logo-width;
    height: auto;
  }
}

// Styles de la section "reservation accueil"
.location_reservation {
    display: flex;
    align-items: center;
    background-color: $color-gray-light;
    height: $section-height;
    margin-top: 3px;
  }

  .location {
    margin: 0 auto;
    padding-left: 60px;
  }

  #city_location {
    border: none;
    background-color: transparent;
    margin-left: 5px;
    padding-left: 10px;
    height: 30px;
    color: $color-gray-dark;
    font-size: $font-size-default;
    font-weight: $font-weight-normal;
    font-family: $font-family-default;
    cursor: pointer;

    &::placeholder {
      color: $color-gray-dark;
      font-size: $font-size-default;
      font-weight: $font-weight-normal;
      font-family: $font-family-default;
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }

      border-radius: $border-radius-large;
      color: $color-gray-dark;
    }
  }

  .location .fa-location-dot {
    color: $color-gray-dark;
  }

  .explore_restaurants {
    text-align: center;

    h1 {
      margin: 40px 50px 0;
      line-height: 28px;
    }

    p {
      margin: 20px 30px 0;
      font-size: $font-size-medium;
      font-weight: $font-weight-light;
    }
  }

  .button_explore {
    margin: 25px 0 55px;
    border-radius: $border-radius-large;
    box-shadow: $shadow-strong;
    background: $gradient-background;
    padding: 13px 20px;
    border: none;
    font-weight: $font-weight-normal;
    color: $color-white;

    &:hover {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
      cursor: pointer;
      filter: brightness(1.2);
      transition: all 0.3s ease-in-out;
    }

    &:not(:hover) {
      transition: all 0.3s ease-in-out;
    }
  }

// Styles de la section "fonctionnement"
.functionning {
  background-color: $color-white;
  padding: 50px 25px 70px 20px;
}

.cards_function {
  display: flex;
  align-items: center;
  margin-top: 25px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.circle {
  padding: 5px;
  width: 24px;
  background: $color-purple;
  height: 24px;
  text-align: center;
  border-radius: 24px;
  color: $color-white;
  font-size: 15px;
  margin-right: 25px;
  z-index: 2;
}

.container_function {
  display: flex;
  align-items: center;
  width: 100%;
  height: 73px;
  color: $color-gray-dark;
  background-color: $color-gray-light;
  box-shadow: $shadow-default;
  border-radius: $border-radius-large;
  padding: 28px 0 28px 34px;
  margin-left: -35px;
  z-index: 1;

  &:hover {
    box-shadow: $shadow-strong;
    background-color: #F5EDFF; 
    .fa-solid {
      color: $color-purple;
    }
  }
}

.text_function {
  padding-left: 27px;
  color: $color-black;
}

// Styles de la section "restaurants"
#restaurants_cards {
  margin: 55px 20px 65px;
}

.title_section_restaurants {
  margin-bottom: 35px;
}

.section_small_cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  display: grid;
  grid-template: 70% 30% / 75% 25%;
  width: 100%;
  background: $color-white;
  box-shadow: $shadow-default;
  border-radius: $border-radius-small;
  z-index: 0;

  &:hover {
    box-shadow: $shadow-strong;
    filter: brightness(1.1);
  }

  img {
    grid-area: 1 / 1 / 2 / 3;
    border-top-right-radius: $border-radius-small;
    border-top-left-radius: $border-radius-small;
    width: 100%;
    height: 171px;
    object-fit: cover;
  }
}

.new {
  grid-area: 1 / 2 / 1 / 3;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 15px;

  .new_text {
    width: 80px;
    height: 30px;
    background-color: $color-green-light;
    color: #008766; 
    font-size: $font-size-small;
    text-align: center;
    padding: 8px 10px;
    box-shadow: 0px 2px 4px $color-gray-border;
    border-radius: 2px;
  }
}

.container_restaurant {
  padding: 16px 25px 16px 12px;
}

.text_restaurant {
  margin-top: 5px;
  font-size: 17px; 
  font-weight: $font-weight-light;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;

  i {
    &.icon-regular {
      margin-right: -24px;
    }

    &.icon-solid {
      &:hover {
        background-image: $gradient-background;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 1;
        line-height: 1;
        cursor: pointer;
        transition: opacity 0.8s ease-in 0.3s;
      }

      &:not(:hover) {
        background-image: $gradient-background;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        line-height: 1;
        transition: opacity 0.8s ease-in 0.3s;
        opacity: 0;
      }
    }
  }
}

// Utilisation du mixin pour le style du footer
@include footer-styles;

//Tablette
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo img {
      width: 200px;
      height: auto;
    }
  
    .explore_restaurants h1 {
      font-size: 30px;
    }
  
    .functionning {
      padding: 50px 40px 70px;
    }
  
    .cards_function {
      width: 100%;
      margin-top: 28px;
    }
  
    .main_function {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  
    .container_function {
      padding: 25px 20px 25px 25px;
    }
  
    .text_function {
      padding-left: 20px;
    }
  
    #restaurants_cards {
      margin: 55px 40px 65px;
    }
  
    .section_small_cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
    }
  
    .card {
      flex: 40%;
    }
  
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 50px;
    }
  
    .group_footer {
      display: flex;
      align-items: center;
      gap: 45px;
    }
  
    .link_footer {
      margin-left: 5px;
    }
  
    .link_footer2 {
      margin-left: 3px;
    }
  }

// Desktop
@media screen and (min-width: 1024px) {
    .logo img {
      width: 200px;
      height: auto;
    }
  
    .explore_restaurants h1 {
      font-size: 40px;
    }
  
    .functionning {
      padding: 50px 140px 80px;
    }
  
    .cards_function {
      width: 100%;
      margin-top: 28px;
    }
  
    .main_function {
      display: flex;
      align-items: center;
      gap: 37px;
    }
  
    .container_function {
      padding: 25px 10px 25px 25px;
    }
  
    .text_function {
      padding-left: 20px;
    }
  
    #restaurants_cards {
      margin: 55px 140px 65px;
    }
  
    .section_small_cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 55px;
      column-gap: 90px;
    }
  
    .card {
      flex: 40%;
    }
  
    .footer {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-right: 130px;
    }
  
    .icon_footer {
      display: flex;
      margin-top: 8px;
      padding-left: 70px;
    }
  
    .group_footer {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  
    .link_footer {
      margin-left: 5px;
    }
  
    .link_footer2 {
      margin-left: 3px;
    }
  } 

  // Loader
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* S'assure que le loader est au-dessus de tout */
    animation: changeIconColor 3s linear forwards, fadeOut 3s linear forwards;
    background: #FFffff
  }
  
  .loader img {
    width: 400px;
    height: auto;
    margin-right: 30px; 
  }

  .loader i {
    font-size: 4em;
    animation: pulse 3s infinite; 
  }
  
  @keyframes changeIconColor {
    0% {
      color: #9356DC; 
    }
    50% {
      color: #99E2D0; 
    }
    100% {
      color: #FF79DA;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); 
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadeOut {
    0%, 85% { opacity: 1; }
    100% { opacity: 0; display: none; }
  }
